:root {
  --main-bg-color: rgba(20,41,68,1);
  --main-bg-color-hover: rgba(17,120,208,1);
  --main-bg-color-opaque: rgba(20,41,68,0.7);
  --main-bg-color-red: rgba(244,58,38,1);
  --navbar-categories-bg-color: rgba(21,67,123,1);
  --bg-color-grey-hover: rgba(204,204,204,1);
  --bg-color-white: rgba(255,255,255,1);

  --text-color-black: rgba(29,33,35,1);;
  --text-color-blue: rgba(21,67,123,1);
  --text-color-blue-hover: rgba(17,120,208,1);
  --text-color-white: rgba(255,255,255,1);
  --text-color-red: rgba(244,58,38,1);
}
