
.bg{
  background-image: url("../images/nexst_header_bg2.png");
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  border-radius: 0px 0px 10px 10px;
}

.h{
  height:100px;
}

.w{
  width:17rem;
}

/*.padds{
  padding-top:10px;
  padding-right:1rem;
}*/

.colorcusti
{
  color: var(--navbar-categories-bg-color);
  font-size: 1rem;
}

.pstyle
{
  color:  var(--main-text-color);}

.custtxt{
  color:white;
  font-weight: bold;
  font-size:1.2rem;
  text-align: center;
}

.input-group-btn .custom-btn-color{
  background-color: var(--navbar-categories-bg-color);
  border-color: var(--navbar-categories-bg-color);
  border-radius: 0px 5px 5px 0px;
}

.input-group-btn .custom-btn-color:hover{
  background-color: var(--main-bg-color-hover);
  border-color: var(--main-bg-color-hover);
}
