
.bg{
  background-image: url("../images/nexst_header_bg2.png");
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}
.h{
  height:100px;
}
<<<<<<< HEAD
.w{
  width:17rem;
}
=======

.h{
  height:50px;
}

.w{
  width:17rem;
}

>>>>>>> d70d2dc7912101d331e2d976206a63bec5b899ad
.padds{
  padding-top:10px;
  padding-right:1rem;
}
<<<<<<< HEAD
.colorcusti
{
  color:rgb(21,67,123);
  font-size:1rem;

=======

.colorcusti
{
  color:rgb(21,67,123);
  font-size:1.8rem;
  vertical-align:bottom;
  padding-right:5px;
>>>>>>> d70d2dc7912101d331e2d976206a63bec5b899ad
}
.pstyle
{
  text-shadow: -1px -1px 0 #000;
  color:var(--main-bg-color);
  font-size:1.2rem;
}
.custtxt{
  color:white;
  font-weight: bold;
<<<<<<< HEAD
  font-size:1.2rem;
=======
  font-size:1.2rem; 
>>>>>>> d70d2dc7912101d331e2d976206a63bec5b899ad
  text-align: center;
}
